:root {
  --color-red: #FF4E42;
  --color-yellow: #FFFCB0;
  --body-fontsize: 16px;
  --body-lineheight: 24px;
  --text-color: #444;
  --secondary-text-color: rgba(0,0,0,.5);
  --icon-size: 24px;
  --padding: 2rem;
  --panel-width: 320px;
  --border-style: 1px solid rgba(0,0,0,.2);
  --table-bg: rgba(0,0,0,.08);
}

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

html {
  font-size: var(--body-fontsize);
  line-height: var(--body-lineheight);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Helvetica', sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin: 0rem 0 1rem 0;
}
h2 {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin: 0.75rem 0;
}
h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 0;
}
h4 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 0 0 0.8rem 0;
}
pre {
  margin: 0.8rem 0;
  overflow-x: scroll;
}
.lockup {
  padding-left: 36px;
  background-size: var(--icon-size);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-image: url(ic_modelviewer.svg);
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
#intro {
  grid-area: intro;
  padding: var(--padding);
}
#intro h2 {
  text-align: center;
  max-width: 360px;
  margin: 1.5rem auto 1rem auto;
}
#intro .links {
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
}
#intro .links a {
  display: inline-flex;
  align-items: center;
  padding: 0 .5rem;
  font-size: 1.5rem;
}
#intro .links a:before {
  content: "";
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  background: var(--text-color);
  display: inline-block;
  margin-right: .5rem;
}
#intro .links a:hover {
  color: var(--color-red);
}
#intro .links a:hover:before {
  background: var(--color-red);
}

#glitch {
  grid-area: glitch;
  height: 100vh;
  padding: var(--padding) var(--padding) var(--padding) 0;
}
#snippet {
  grid-area: snippet;
  padding: 0 var(--padding) 0 var(--padding);
}
#snippet pre {
  margin-bottom: 1.5rem;
}
#snippet .underline {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}
#snippet .underline:after {
  content: "";
  background: var(--text-color);
  height: 2px;
  width: 100%;
  display: block;
}

#panel {
  position: relative;
  z-index: 1000;
  width: var(--panel-width);
  height: 100vh;
  overflow-y: scroll;
  padding: var(--padding);
  background: var(--color-yellow);
}
#panel .title {
  font-size: .85rem;
  margin-top: 1rem;
  padding: .6rem 0 .5rem 0;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  border-top: var(--border-style);
}
#panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#panel ul li {
  cursor: pointer;
  padding: 0.32rem 0;
}

#content {
  position: absolute;
  left: var(--panel-width);
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: var(--padding);
}
#content #lockup-wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: var(--padding);
  background-color: var(--color-yellow);
  cursor: pointer;
}
table {
  border-collapse: collapse;

}
table td {
  vertical-align: top;
  padding: 0.9rem 1rem;
}
table tr td:nth-child(2n+1) {
  width: 25%;
  max-width: 240px;
  min-width: 180px;
  font-weight: 500;
}
table tr:nth-child(2n+1) {
  background: var(--table-bg);
}

pre {
  padding: 1rem;
  background: var(--color-yellow);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, .2);
  max-width: 100%;
  white-space: pre-wrap;
}

.row {
  display: flex;
  align-items: center;
}
.flex {
  flex: 1;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0rem;
  grid-template-areas:
    "intro glitch"
    "snippet glitch";
}

#scrim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: .2s opacity ease-out;
}

/* prism.js */
/* prism */
.token.tag,
.token.keyword,
.token.namespace {
  color: #ff5252;
}

.token.selector,
.token.property,
.token.string,
.token.attr-name {
  color: #00b0ff;
}

.token.function,
.token.attr-value {
  color: #00bfa5;
}

.language-javascript,
.language-css {
  color: #757575;
}

.token.comment,
.content code[class*="language-"],
.content pre[class*="language-"] {
  color: #999;
}

@media only screen and (max-width: 768px) {
  :root {
    --padding: 1rem;
  }
  h1 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 1rem 0;
  }
  h2 {
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  #container {
    display: block;
  }
  #glitch {
    height: 60vh;
    margin-bottom: 1.2rem;
  }
  #intro h2 {
    max-width: 300px;
  }

  #content {
    left: 0;
    padding-top: 56px;
  }
  #content #lockup-wrapper {
    display: block;
  }
  table {
    margin-left: calc(-1 * var(--padding));
    margin-right: calc(-1 * var(--padding));
  }
  table tr td:nth-child(2n+1) {
    width: 25%;
    min-width: 120px;
  }
  #panel {
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    transform: translate3d(-120%, 0, 0);
    transition: .2s transform ease-out;
  }
  body.panel #panel {
    transform: translate3d(0, 0, 0);
  }
  body.panel #scrim {
    opacity: .5;
    pointer-events: auto;
  }
}
