:root {
  --color-red: #FF4E42;
  --color-red-700: #EB0F00;

  --color-green: #0CCE6B;
  --color-green-700: #018642;

  --color-orange: #FFA400;
  --color-orange-700: #D04900;

  --color-blue: #2962FF;

  --color-black: #000000;
  --color-black-900: #212121;
  --color-black-800: #424242;
  --color-black-600: #757575;
  --color-black-500: #9E9E9E;
  --color-black-400: #BDBDBD;
  --color-black-200: #E0E0E0;
  --color-black-100: #F5F5F5;
  --color-white: #FFFFFF;

  --topbar-bg: var(--color-black-100);
  --header-bg: var(--color-white);
  --highlighter-bg: var(--color-black);

  --plugin-bg: var(--color-white);
  --plugin-size: 36px;
  --plugin-icon-size: 65%;

  --body-fontsize: 16px;
  --body-lineheight: 24px;

  --score-number-fontsize-big: 42px;
  --score-number-fontsize: 34px;

  --score-title-fontsize-big: 28px;
  --score-title-fontsize: 20px;

  --score-title-lineheight-big: 36px;
  --score-title-lineheight: 26px;

  --score-size: 96px;
  --score-size-big: 120px;

  --score-container-width: 160px;

  --score-marginbottom-big: 12px;

  --score-number-offset: 1px;

  --shape-size: 12px;
  --shape-margin: 6px 16px 0 6px;

  --topbar-height: 36px;

  --audits-marginbottom: 40px;
  --audit-padding: 12px 0;

  --icon-size: 24px;

  --row-minheight: 32px;

  --section-padding: 40px;

  --header-padding: 20px 0 20px 0;
  --score-container-padding: 12px;
  --topbar-padding: 0 8px;

  --badge-marginright: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: var(--body-fontsize);
  line-height: var(--body-lineheight);
  color: var(--color-black-900);
}
  body.dark {
    --color-red-700: var(--color-red);
    --color-green-700: var(--color-green);
    --color-orange-700: var(--color-orange);

    --color-black-200: var(--color-black-800);
    --color-black-400: var(--color-black-600);
    --color-black-600: var(--color-black-500);

    --topbar-bg: var(--color-black);
    --plugin-bg: var(--color-black-800);
    --header-bg: var(--color-black-900);

    background: var(--color-black-900);
    color: var(--color-black-100);

    --highlighter-bg: var(--color-white);
  }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
a {
  color: var(--color-blue);
}
.row {
  display: flex;
  align-items: center;
  margin: 8px 0;
  min-height: var(--row-minheight);
}
.row.empty {
  min-height: 12px;
}
.flex {
  flex: 1;
}
.button-more,
.button-less {
  margin-left: 12px;
}

.material-icons {
  font-size: var(--icon-size);
  opacity: .54;
}
.button.selected .material-icons {
  opacity: 1;
}

#highlighter {
  width: var(--score-container-width);
  height: 1px;
  background: var(--highlighter-bg);
  position: absolute;
  bottom: 0;
  left: 0;
}

#topbar {
  display: flex;
  align-items: center;
  height: var(--topbar-height);
  background-color: var(--topbar-bg);
  padding: var(--topbar-padding);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
#site-url {
  margin-left: 8px;
}

#score-scale {
  border: 1px solid var(--color-black-200);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  display: inline-flex;
  padding: 8px 8px;
  margin: 12px auto 0 auto;
}
#score-scale > div {
  display: flex;
  align-items: center;
  margin: 0 12px;
  font-family: 'Roboto Mono', monospace;
}
#score-scale > div:before {
  content: "";
  width: 18px;
  height: 6px;
  display: block;
  border-radius: 10px;
  margin-right: 10px;
}
#score-scale > div.red:before {
  background-color: var(--color-red);
}
#score-scale > div.orange:before {
  background-color: var(--color-orange);
}
#score-scale > div.green:before {
  background-color: var(--color-green);
}

#header {
  margin-top: var(--topbar-height);
  padding: var(--header-padding);
  border-bottom: 1px solid var(--color-black-200);
  display: grid;
}

#screenshots {
  margin-bottom: 32px;
  -webkit-column-count: 10;
  -webkit-column-gap: 16px;
}
#screenshots img {
  max-width: 100%;
  border: 1px solid var(--color-black-200);
}

#scores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#header.stuck #scores-sticky {
  opacity: 1;
  pointer-events: auto;
}
#scores-sticky {
  --score-container-width: 64px;
  --score-size: 36px;
  --score-number-fontsize: 13px;
  --plugin-size: 18px;
  --plugin-icon-size: 75%;
  --score-number-offset: 0;
  font-weight: 700;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: flex;
  left: 0;
  right: 0;
  top: var(--topbar-height);
  background: var(--header-bg);
  border-bottom: 1px solid var(--color-black-200);
  pointer-events: none;
  opacity: 0;
}
#scores-sticky .score-container .title {
  display: none;
}

.score-container {
  text-align: center;
  width: var(--score-container-width);
  padding: var(--score-container-padding);
  position: relative;
}
  .score-container .title {
    font-size: var(--score-title-fontsize);
    line-height: var(--score-title-lineheight);
    margin-top: 10px;
  }
.score-container.big {
  max-width: 400px;
  width: auto;
  margin: 0px auto;
}
  .score-container.big .title {
    font-size: var(--score-title-fontsize-big);
    line-height: var(--score-title-lineheight-big);
  }
  .score-container p {
    margin: 4px 0 12px 0;
  }


.score {
  width: var(--score-size);
  height: var(--score-size);
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--score-number-fontsize);
  font-family: 'Roboto Mono', monospace;
}
  .big .score {
    width: var(--score-size-big);
    height: var(--score-size-big);
    font-size: var(--score-number-fontsize-big);
    margin-bottom: var(--score-marginbottom-big);
  }
  .score > svg {
    position: absolute;
  }
  .score .number {
    -webkit-transform: translate3d(0, var(--score-number-offset), 0);
  }
  .score .bg {
    opacity: .1;
  }
  .score .arc {
    fill: transparent;
    stroke-width: 8;
    stroke-linecap: round;
  }
.score.orange {
  color: var(--color-orange);
  fill: var(--color-orange);
  stroke: var(--color-orange);
}
.score.green {
  color: var(--color-green);
  fill: var(--color-green);
  stroke: var(--color-green);
}
.score.red {
  color: var(--color-red);
  fill: var(--color-red);
  stroke: var(--color-red);
}
.score.pwa {
  background-color: var(--color-black-200);
  background-image: url(images/logo-pwa.svg);
  background-size: cover;
  overflow: hidden;
  border-radius: 100%;
}
.score.score-plugin:before {
  width: var(--plugin-size);
  height: var(--plugin-size);
  background-color: var(--plugin-bg);
  background-image: url(images/ic_extension_grey600_24dp.svg);
  background-repeat: no-repeat;
  background-size: var(--plugin-icon-size);
  background-position: 58% 50%;
  content: "";
  position: absolute;
  right: -6px;
  bottom: -2px;
  display: block;
  z-index: 100;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  border-radius: 25%;
}

.code {
  font-family: 'Roboto Mono', monospace;
}

.two-col {
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
}

.section {
  padding: var(--section-padding);
  border-bottom: 1px solid var(--color-black-200);
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}
.caption {
  font-weight: bold;
}
.subtitle {
  max-width: 640px;
}
.caption .desc {
  font-weight: 500;
  color: var(--color-black-600);
}

.audits-collapsed {
  margin: 16px 0;
}
.audits-collapsed .caption > span {
  color: var(--color-black-600);
}

.audits {
  margin-bottom: var(--audits-marginbottom);
}
.audit {
  border-bottom: 1px solid var(--color-black-200);
  display: flex;
  padding: var(--audit-padding);
}

  .audit:first-child {
    border-top: 1px solid var(--color-black-200);
  }
  .audit:before {
    content: "";
    display: block;
    width: var(--shape-size);
    height: var(--shape-size);
    background: var(--color-black-400);
    margin: var(--shape-margin);
  }
  .audit.gray:before {
    border-radius: 100%;
    background: var(--color-black-400);
  }
  .audit.green:before {
    border-radius: 100%;
    background: var(--color-green);
  }
  .audit.red:before {
    clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    background: var(--color-red);
  }
  .audit.orange:before {
    clip-path: polygon(6% 6%, 94% 6%, 94% 94%, 6% 94%);
    background: var(--color-orange);
  }
  .audit > .title {
    font-weight: 500;
    flex: 1;
  }
  .audit > .time {
    font-weight: 500;
    /* font-family: 'Roboto Mono', monospace; */
  }
  .audit.red .time,
  .audit > .title > span.red {
    color: var(--color-red-700);
  }
  .audit.green .time,
  .audit > .title > span.green {
    color: var(--color-green-700);
  }
  .audit.orange .time,
  .audit > .title > span.orange {
    color: var(--color-orange-700);
  }
  .audit.gray .time,
  .audit > .title > span.gray {
    color: var(--color-black-600);
  }
  .audit .material-icons {
    margin-left: 6px;
  }

.badge-pwa {
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: 90% 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: var(--badge-marginright);
}
.badge-fast-and-reliable.green {
  background-image: url(images/checklist_fast_and_reliable_green.svg);
}
.badge-installable.green {
  background-image: url(images/checklist_installable_green.svg);
}
.badge-optimzed.green {
  background-image: url(images/checklist_optimized_green.svg);
}

@media only screen and (max-width: 480px) {
  :root {
    --body-fontsize: 14px;
    --body-lineheight: 20px;

    --score-number-fontsize-big: 34px;
    --score-number-fontsize: 26px;

    --score-title-fontsize-big: 22px;
    --score-title-fontsize: 14px;

    --score-title-lineheight-big: 26px;
    --score-title-lineheight: 20px;

    --score-size: 72px;
    --score-size-big: 96px;

    --score-container-width: 112px;

    --score-marginbottom-big: 8px;

    --plugin-size: 28px;
    --plugin-icon-size: 75%;

    --shape-size: 10px;
    --shape-margin: 5px 12px 0 5px;

    --topbar-height: 32px;

    --audits-marginbottom: 24px;
    --audit-padding: 10px 0;

    --icon-size: 20px;

    --section-padding: 24px;

    --header-padding: 16px 0 16px 0;

    --score-container-padding: 8px;
    --topbar-padding: 0 4px;

    --row-minheight: 24px;

    --badge-marginright: 8px;
  }

  .two-col {
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
  }
  #screenshots {
    -webkit-column-count: 5;
    -webkit-column-gap: 12px;
  }
  #screenshots div:nth-child(2n) {
    display: none;
  }
}
