:root {
  --color-red: #FF4E42;
  --color-blue: #2962FF;
  --color-black: #000000;
  --color-black-900: #212121;
  --color-black-800: #424242;
  --color-black-600: #757575;
  --color-black-500: #9E9E9E;
  --color-black-400: #BDBDBD;
  --color-black-200: #E0E0E0;
  --color-black-100: #F5F5F5;
  --color-white: #FFFFFF;

  --header-height: 56px;
  --border-style: 1px solid var(--color-black-200);

  --icon-size: 24px;

  --gap: 20px;
  --card-shadow: 0 0px 2px rgba(0,0,0,0.2);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: var(--body-fontsize);
  line-height: var(--body-lineheight);
  color: var(--color-black-900);
  background: #fefefe;
}

* {
  box-sizing: border-box;
}

.material-icons {
  font-size: var(--icon-size);
  /* opacity: .54; */
}
.button {
  cursor: pointer;
  line-height: 0;
}
.button.icon-label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 4px;
}
.button.icon-label i {
  margin-right: 8px;
  opacity: 1;
}
.button.selected .material-icons {
  opacity: 1;
}

.dropdown {
  display: flex;
  align-items: center;
  margin: 0 6px;
  cursor: pointer;
  background: var(--color-black-100);
  border-radius: 4px;
  padding: 4px 4px 4px 12px;
}
.dropdown span {
  opacity: .54;
  margin-right: 10px;
}
.dropdown i {
  margin-left: 4px;
}

.row {
  display: flex;
  align-items: center;
}

#header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  box-shadow: var(--card-shadow);
  background: var(--color-white);
  padding: 0 12px 0 6px;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
}
#logo {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-image: url(images/logo_lighthouse_48dp.svg);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#button-compare {
  color: var(--color-blue);
}
#button-swap {
  margin: 0 3px;
}
body.compare.detail #cards-compare {
  overflow-y: hidden;
}
body.compare .compare-hide {
  display: none;
}
.compare-show {
  display: none;
}
body.compare .compare-show {
  display: inherit;
}

#dropdown-commits {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%,0,0);
}

#audit-detail {
  padding: 20px;
}
#audit-detail .card {
  cursor: pointer;
}

body.detail #audit-detail {
  overflow-y: scroll;
  height: calc(100vh - var(--header-height));
}

#container-detail {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: white;
  box-shadow: var(--card-shadow);
  opacity: 0;
  pointer-events: none;
}
body.detail #container-detail {
  pointer-events: auto;
  z-index: 100;
}
#button-close-detail {
  position: absolute;
  right: 12px;
  top: 12px;
}

.hide {
  display: none;
}

.cards {
  position: relative;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  overflow-y: scroll;
}
.card {
  box-shadow: var(--card-shadow);
  background: var(--color-white);
  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.card.center {
  margin-left: auto;
  margin-right: auto;
}
.card.medium {
  max-width: 760px;
  min-height: 200px;
}
.card.small {
  max-width: 360px;
  min-height: 320px;
}

#cards-home {
  padding: var(--gap);
}

#cards-compare .card-summary {
  min-height: 280px;
  border-radius: 0;
  background: white;
  margin-top: 20px;
  box-shadow: var(--card-shadow);
  background: var(--color-white);
}

#cards-compare .card {
  margin-left: auto;
  margin-right: auto;
}
#cards-compare .card.medium {
  min-height: 320px;
}

.three-up {
  max-width: 1120px;
  margin: 20px auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--gap);
}

@media only screen and (max-width: 1160px) {

}
