:root {
  --body-fontsize: 16px;
  --body-lineheight: 24px;

  --color-red: #FF4E42;
  --color-blue: #2962FF;
  --color-black: #000000;
  --color-black-900: #212121;
  --color-black-800: #424242;
  --color-black-600: #757575;
  --color-black-500: #9E9E9E;
  --color-black-400: #BDBDBD;
  --color-black-200: #E0E0E0;
  --color-black-100: #F5F5F5;
  --color-white: #FFFFFF;

  --color-regress: #FF4081;
  --color-improve: #00BCD4;

  --color-red: #FF4E42;
  --color-red-700: #EB0F00;

  --color-green: #0CCE6B;
  --color-green-700: #018642;

  --color-orange: #FFA400;
  --color-orange-700: #D04900;

  --header-height: 56px;
  --border-style: 1px solid var(--color-black-200);

  --icon-size: 24px;

  --gap: 20px;
  --card-shadow: 0 0px 2px rgba(0,0,0,0.2);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: var(--body-fontsize);
  line-height: var(--body-lineheight);
  color: var(--color-black-900);
  /* background: #fefefe; */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.material-icons {
  font-size: var(--icon-size);
  /* opacity: .54; */
}
.button {
  cursor: pointer;
  line-height: 0;
  padding: 12px;
}
.button.icon-label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 4px;
}
.button.icon-label i {
  margin-right: 8px;
  opacity: 1;
}
.button.selected .material-icons {
  opacity: 1;
}

.svg-icon {
  width: 24px;
  height: 24px;
  background-position: 50% 50%;
  background-repeat: no-no-repeat;
  background-size: 24px;
}
.svg-icon.small {
  background-size: 22px;
}
.icon-branch {
  background-image: url(images/ic_branch_24x24.svg);
}
.icon-commit {
  background-image: url(images/ic_commit_24x24.svg);
}
.row {
  display: flex;
  align-items: center;
}
.flex {
  flex: 1;
}

#content {
  overflow-y: scroll;
  height: calc(100vh - var(--header-height));
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
}
#latest-commits {
  display: none;
}
#latest-commits-table {
  font-weight: 500;
}
#latest-commits-table .list {
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
}
#latest-commits-table .list.selected:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #4285f4;
  content: "";
}
#latest-commits-table .list:nth-child(2n+1) {
  background: var(--color-black-100);
}
#latest-commits-table .time {
  text-align: right;
  flex: 1;
}
.profile-lockup {
  width: 200px;
  flex: 2;
}
#latest-commits-table .title {
  flex: 3;
}
#latest-commits-table .icon-lockup {
  flex: 1;
}

.profile {
  background-size: cover;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.profile-paul {
  background-image: url(images/profile_paul.png);
}
.profile-elizabeth {
  background-image: url(images/profile_elizabeth.png);
}
.profile-hwi {
  background-image: url(images/profile_hwi.png);
}
.profile-patrick {
  background-image: url(images/profile_patrick.png);
}

#latest-commits-table .icon-lockup,
#latest-commits-table .time {
  opacity: .5;
}
.icon-lockup span {
  margin-left: 4px;
}

#build-chips {
  min-width: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.build-chip {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  border-radius: 20px;
  padding: 0px 12px;
  line-height: 30px;
  margin: 0 5px;
}
.build-chip .kind {
  padding-right: 8px;
  margin-right: 10px;
  border-right: 1px solid #999;
}
#chip-compare {
  color: var(--color-blue);
  border-color: var(--color-blue);
}
#chip-compare.build-chip .kind {
  border-color: var(--color-blue);
}
.commit {
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  margin-right: 6px;
}

#project-title {
  font-weight: 500;
}
#header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  box-shadow: var(--card-shadow);
  background: var(--color-white);
  padding: 0 4px;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
}
#logo {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-image: url(images/logo_lighthouse_48dp.svg);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#button-return {
  cursor: pointer;
  margin: 12px;
}

#button-swap {
  margin: 0 3px;
}
body.compare.detail #cards-compare {
  overflow-y: hidden;
}
body.compare .compare-hide {
  display: none;
}
.compare-show {
  display: none;
}
body.compare .compare-show {
  display: inherit;
}

#dropdown-commits {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%,0,0);
}

#audit-detail {
  padding: var(--gap);
}
#audit-detail .card {
  cursor: pointer;
}

body.detail #audit-detail {
  overflow-y: scroll;
  height: calc(100vh - var(--header-height));
}

#container-detail {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: white;
  box-shadow: var(--card-shadow);
  opacity: 0;
  pointer-events: none;
}
body.detail #container-detail {
  pointer-events: auto;
  z-index: 100;
}
#button-close-detail {
  position: absolute;
  right: 12px;
  top: 12px;
}

.hide {
  display: none;
}

.cards {
  position: relative;
  /* height: calc(100vh - var(--header-height)); */
  /* overflow-y: scroll; */
}
.card {
  box-shadow: var(--card-shadow);
  background: var(--color-white);
  padding: calc(var(--gap) - 6px) var(--gap);
  margin-bottom: var(--gap);
}

.card.center {
  margin-left: auto;
  margin-right: auto;
}
.card.medium {
  max-width: 760px;
}
.card.small {
  max-width: 360px;
  min-height: 320px;
}

.card .caption {
  font-size: 20px;
  line-height: 28px;
}
.row-caption {
  margin-bottom: 12px;
}

b {
  font-weight: 500;
}

.score-chip {
  padding: 0px 6px;
  border-radius: 4px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 22px;
}
.score-chip.red {
  background: var(--color-red);
}
.score-chip.orange {
  background: var(--color-orange);
}
.score-chip.green {
  background: var(--color-green);
}

#cards-timeline {
  padding: 0 var(--gap) var(--gap) var(--gap);
}

#cards-compare {
  margin-top: calc(-1 * var(--gap));
}

#cards-compare .card-summary {
  min-height: 280px;
  border-radius: 0;
  background: white;
  margin-top: var(--gap);
  box-shadow: var(--card-shadow);
  background: var(--color-white);
  padding: var(--gap) 0;
}

#cards-compare .card {
  margin-left: auto;
  margin-right: auto;
}
#cards-compare .card.medium {
  min-height: 320px;
}

.three-up {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 var(--gap);
}
.three-up,
.card .wrapper-large {
  max-width: 1120px;
  margin: 0px auto;
}

#latest-commits .wrapper-large,
.scores {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 960px) {
  #dropdown-url,
  #dropdown-branch {
    display: none;
  }
  .three-up {
    grid-template-columns: 1fr 1fr;
  }
  .three-up .card {
    max-width: none;
  }
  .button.icon-label i {
    margin-right: 0;
  }
  .button.icon-label span {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --gap: 16px;
  }

  .three-up {
    grid-template-columns: 1fr;
  }
  #home-summary {
    font-size: 18px;
    line-height: 28px;
    padding: 0 8px;
  }
  .score-chip {
    font-size: 17px;
  }
}
